html
html
   head
      title Form Tester
   body
      form(action = "/register", method = "POST")
         div
            label(for = "name") Name:
            input(name = "name" )
         br
         div
            label(for = "email") E-mail:
            input(name = "email" )
         br
         div
            label(for = "password") Password:
            input(name = "password" )
         br
         button(type = "submit") Add